@import "tailwindcss";

@theme{
  --color-primary: #ffffff;
  --color-secondary: #041c90;  
  --color-tertiary:#D3D3D3;  
  --color-theme-blue:#93c5fd;
  --text-heading: 80px;  
  --text-subheading: 60px;  
}