.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    height: 100vh;
    scroll-behavior: smooth;
    z-index: 0;
}

.contents h1 {
  
    display: flex;
      justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5rem;
    font-weight: 500;
    padding: 2rem 0;
    font-size: 2rem;
}
.form_text_fields{
     display: flex;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5rem;
    font-weight: 500;
    padding: 2rem 0;
    font-size: 2rem;
}
.buttons {

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 1.5rem 2rem;
    margin: 0 5rem;
    background-color: transparent;
    border: solid white 1px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: 0.25s background-color;
    box-shadow: 0 0 10px rgba(59, 130, 246);
}

.buttons button:hover {
    background-color: white;
    color: black;
    transition: 0.25s background-color;
    box-shadow: 0 0 50px rgba(59, 130, 246);
    cursor: pointer;
}

.video {
    position: absolute;
    z-index: 0;
    height: full;
    width: full;
    width: 100%;
    object-fit: cover;

}